.content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

@media screen and (min-widht: 545px) and (max-width: 880px) {
  .content {
    align-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .content {
    display: inline;
  }
}
